@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  background: url(dhs-bgm2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}
#endgame {
  text-align: center;
}
h1 {
  color: #0F1626;
  font-size: 4vw;
  font-family: 'Cabin Sketch';
  width: 100%;
  display: inline-block;
  margin: 1vw;
}
p {
  color: #0F1626;
  font-size: 3vw;
  font-family: 'Cabin Sketch';
  width: 100%;
  display: inline-block;
  margin: 1vw;
}

/* /// RATING SECTION /// */
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.clearfix {
  clear:both;
}
.text-center {
  text-align:center;
}

.header {
  width: 100%;
  position:relative;
  margin-bottom: 0.5vw;
}

.header:after {
  content:"";
  display:block;
  height:1px;
  background:#eee;
  position:absolute;
  left:30%; right:30%;
}
.header p {
  color: #AB987A;
  background-color: white;
  width: 45vw;
  height: 3vw;
  border-radius: 200px;
  font-size: 2vw;
  font-family: 'Cabin Sketch';
  font-weight: 600;
  display: inline-block;
  margin: 1vw;
  padding-top: 3px;
}
#success {
  text-align: center;
}
.success-box {
  width: 35vw;
  height: 2.5vw;
  border-radius: 200px;
  border:1px solid #eee;
  background: transparent;
  display: inline-block;
}

.success-box > div {
  vertical-align:top;
  display:inline-block;
  color: #0F1626;
  font-family: 'Cabin Sketch';
  font-size: 2vw;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 1.5em; /* Change the size of the stars */
  color: black; /* Color on idle state */
}

/* Hover state of the stars */
li:hover {
  cursor: pointer;
}
.rating-stars ul > li.star.hover > i.fa {
  color: yellow;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: yellow;
}

/* /// Give Feedback Section /// */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

.feedback-button {
  height: 4vw;
  border: solid 2px #CCCCCC;
  background: #AB987A;
  width: 12vw;;
  -webkit-transform: rotate(-90deg);
  color: white;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 2vw;
  position: fixed;
  right: 0%;
  top: 20%;
  font-family: "Cabin Sketch";
  z-index: 999;
  margin: none;
}

#feedback-main {
  display: none;
  float: left;
  padding-top: 0px;
}

#feedback-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2.5%;
  width: 450px;
  float: left;
  position: absolute;
  margin-top: 20px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: -1px;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 2px solid black;
  color: black;
  outline: none;
  padding: 13px 13px 13px 54px;
}

/* Icons ---------------------------------- */

#feedback-comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#feedback-comment {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
#feedback-comment:hover,
input:focus,
#feedback-comment:focus {
  background-color: white;
}

#feedback-button-black {
  font-family: "Roboto", helvetica, arial, sans-serif;
  float: center;
  width: 100%;
  border: #fbfbfb solid 2px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#feedback-button-black:hover {
  background-color: #F5F5F5;
  color: black;
  cursor: pointer;
}
.feedback-button-black:hover {
  color: #3498db;
}
.feedback-ease {
  width: 0px;
  height: auto;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.feedback-submit:hover .feedback-ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 580px) {
  #feedback-div {
    margin: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* /// Button Section /// */
#buttons {
  margin-top: 5vh;
  text-align: center;
}
.btn {
  font-size: 2vw;
  padding: 1vw 2vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
  color: white;
  margin-top: 1vh;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none;
  box-shadow: 0px 3px 15px grey;
  margin-bottom: 1vw;
  display: inline-block;
  width: 15vmax;
  text-align: center;
}
#tryagain {
    background-color: RoyalBlue;
}
#tryagain:hover {
    background-color: MidnightBlue;
}
#gohome {
    background-color: OrangeRed;
}
#gohome:hover {
    background-color: FireBrick;
}
a {
  text-decoration: none;
  text-align: center;
  color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  line-height: 1.0em;
}
