@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  background: url(dhs-bgm3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}
h1 {
  color: #0F1626;
  font-size: 10vh;
  font-family: 'Cabin Sketch';
  width: 100%;
  display: inline-block;
  margin: 2vh;
}
h2 {
  color: #0F1626;
  font-size: 6vh;
  font-family: 'Cabin Sketch';
  width: 100%;
  display: inline-block;
  margin-top: 5vh;
}
#body2 {
  margin-top: 10vh;
  text-align: center;
}
.btn {
  font-size: 2vw;
  padding: 1vw 2.5vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
  color: white;
  margin-top: 1vh;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none;
  box-shadow: 0px 3px 15px grey;
  margin-bottom: 1vw;
  display: inline-block;
}

#playBtn {
    background-color: orange;
}
#playBtn:hover {
  opacity: 0.9;
  background-color: peru;
}
#logout {
    background-color: #f44336; /* Red */
}
#logout:hover {
    opacity: 0.9;
    background-color: FireBrick;
}

a {
  display: inline-block;
  height: 5vw;
  width: 5vw;
  text-decoration: none;
}
#howtoplay {
    background: black;
    color: white;
    border-radius: 100%;
    width: 3.5vw;
    height: 3.5vw;
    position: fixed;
    padding: 0;
    left: 2vw;
    top: 3vh;
    line-height: 2.3;
    font-size: 3.5vh;
    cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
  position: fixed;
  left: 1.3vw;
  top: 3vh;
}
#howtoplay:hover {
    background: grey;
    a {
        color: black;
    }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #AB987A;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #AB987A;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 120%){

  .popup{
    width: 50%;
  }
}
