@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  background: url(dhs-bgm3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: #0F1626;
  font-family: 'Ewert';
  font-size: 6vw;
  width: 100%;
  display: inline-block;
}
h2 {
  color: #0F1626;
  font-size: 4vw;
  font-family: 'Cabin Sketch';
  width: 100%;
  display: inline-block;
}
.box {
  margin: 0 auto;
  padding: 30px 25px;
  border: none;
  border-radius: 200px;
  text-align: center;
}
.button {
  font-size: 1.7vw;
  padding: 1vw 2.5vw;
  background-color: CadetBlue;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  box-shadow: 0px 8px 15px grey;
  transition: all 0.3s ease-out;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}
.button:hover {
  background: teal ;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50vw;
  position: relative;
  transition: all 0.6s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #AB987A;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #AB987A;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
}
#loginBtn {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7vw;
    padding: 1vw 2.5vw;
    width: 17vw;
    background-color: #f44336; /* Red */
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 8px 15px grey;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
#loginBtn:hover {
    background: FireBrick;
}
@media screen and (max-width: 120%){
  .box{
    width: 70%;
  }
  .popup{
    width: 50%;
  }
}
