@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  background: url(dhs-bgm2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;

}
#icons {
    display: none;
}
#playgame {
    text-align: center;
    padding: 0 2vw;
    display: none;
}
#endgame {
    display: none;
}
#icons {
    position: fixed;
    font-size: 20px;
}
#sound {
  background-color: white;
  border-radius: 10px;
  border: none;
  margin: 5px;
  padding: 5px 13px;
}
#questions {
  text-align: center;
}
#qnNum {
  font-size: 3.5vmax;
  font-family: 'Cabin Sketch';
  width: 100%;
  display: inline-block;
  margin: 0;
}

#timerndisplay, #points {
  color: #0F1626;
  font-size: 5vmin;
  font-family: 'Cabin Sketch';
  width: 100%;
  display: inline-block;
  margin: 0;
}

#score {
    position: fixed;
    right: 3vw;
    top: 3vh;
    font-size: 4.5vmin;
    font-family: 'Montserrat Alternates';
    color: black;
    font-weight: 500;
}
img {
    width: 30vw;
    height: 23vw;
    padding-top: 2vh;
}

#QnA {
    font-family: 'Montserrat Alternates';
    font-size: 2vw;
    margin: 0;
}
#choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.choice {
  text-align: center;
  width: 80vh;
  height: 6vmin;
  font-size: 3.2vmin;
  font-family: 'Montserrat Alternates';
  cursor: pointer;
  border: 2px solid #0F1626;
  background-color: white;
  display: block;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6vmax;
  margin-bottom: 0.6vmax;
  padding-top: 3px;
}
.choice p {
  text-align: center;
  margin: auto;
}

/* #choices > div:nth-child(even)  {
    color: white;
    background: black;
} */
/* #choices {
    display: none;
} */
.Qn-div {
    text-align: center;
}
.correctStyle {
    background: green;
    color: white;
}
.wrongStyle {
    background: red;
    color: white;
}
#nextQnBtn {
    display: block;
    font-family: 'Cabin Sketch';
    text-align: center;
    width: 18vmax;
    height: 7vmin;
    border-radius: 200px;
    font-size: 2vmax;
    cursor: pointer;
    border: 2px black;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vmax;
    padding-top: 1vmin;
}
